* {
    margin: 0;
    padding: 0;
}

:root {
    --white-font-color: #f8fafc;
    --main-background: #4b5563;
}

@font-face {
    font-family: mynerve;
    src: url('./Font/Mynerve-Regular.ttf');
}

@font-face {
    font-family: Anton;
    src: url('./Font/Anton-Regular.ttf');
}

@font-face {
    font-family: Tiltprism;
    src: url('./Font/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf');
}

/* div {
    border: 2px solid brown;
} */

body {
    height: 100vh;
    color: var(--white-font-color);
}

#content {
    display: grid;
    grid-template-rows: 95% 5%;
    grid-template-columns: 20% 80%;
    height: 100%;
}

.side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.pages {
    grid-column: 2 / 3;
}

.footer {
    grid-column: 2 / 3;
}

.side-bar-content {
    display: grid;
    grid-template-rows: 25% 75%;
    background: var(--main-background);
    height: 100%;
}

.logo-container {
    background-image: url('./HUNGRYMANCHOWS-logo/cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.tabs-list li {
    list-style: none;
    font-family: Anton;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
}

.tabs-list li:hover {
    background-color: #5a6069;
}

.home-content {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), 
        url('./images/istockphoto-688602226-612x612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: var(--white-font-color)
}

.welcome-to {
    color: #ffb7a5;
    font-weight: bold;
    font-family: mynerve;
    font-size: 30px;
}

.restaurant-name {
    font-family: Tiltprism;
    font-size: 100px;
    color: var(--white-font-color);
    display: flex;
    flex-wrap: wrap;
}

.slogan {
    font-size: 40px;
    font-family: Anton;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    gap: 4px;
}

.btn-container button {
    width: 150px;
    padding: 10px;
    color: var(--white-font-color);
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.red-btn {
    background-color: #e02d00;
}

.red-btn:hover {
    background-color: #f55e38;
    cursor: pointer;
}

.black-btn {
    background-color: black;
}

.black-btn:hover {
    background-color: rgb(58, 57, 57);
    cursor: pointer;
}